@font-face {
    font-family: "Roobert";
    src: url("/fonts/Roobert-Bold.otf") format("otf"),
    url("/fonts/Roobert-Bold.otf") format("woff");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
    }

    @font-face {
    font-family: "Roobert";
    src: url("/fonts/Roobert-BoldItalic.otf") format("otf"),
    url("/fonts/Roobert-BoldItalic.otf") format("otf");
    font-weight: bold;
    font-style: italic;
    font-display: swap;
    }

        @font-face {
            font-family: "Roobert";
            src: url("/fonts/Roobert-Heavy.otf") format("otf"),
            url("/fonts/Roobert-Heavy.otf") format("woff");
            font-weight: 600;
            font-style: normal;
            font-display: swap;
            }

            @font-face {
                font-family: "Roobert";
                src: url("/fonts/Roobert-Heavy.otf") format("otf"),
                url("/fonts/Roobert-Heavy.otf") format("otf");
                font-weight: 600;
                font-style: normal;
                font-display: swap;
                }

                @font-face {
                    font-family: "Roobert";
                    src: url("/fonts/Roobert-Regular.otf") format("otf"),
                    url("/fonts/Roobert-Regular.otf") format("woff");
                    font-weight: 500;
                    font-style: normal;
                    font-display: swap;
                    }

                    @font-face {
                        font-family: "Roobert";
                        src: url("/fonts/Roobert-Medium.otf") format("otf"),
                        url("/fonts/Roobert-Medium.otf") format("woff");
                        font-weight: 400;
                        font-style: normal;
                        font-display: swap;
                        }
                        
                    

.header {
    background-color: #E9E9EE;
    width: auto;
    height: 75px;
}

/* .container {
    margin-top: 15px;
} */

* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

main {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    color: #555555;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.brand-title {
    font-family: 'Roobert';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 140%;
}

.badge {
    --badge-width: 10px;
    position: absolute;
    top: 12px;
    right: 5px;
    width: var(--badge-width);  
    height: var(--badge-width);
    border-radius: calc(var(--badge-width) / 2);
    text-align: center;
    color: #ffffff;     
    transform: scale(.7);
}

.navbar {
    padding: 0 2rem;
    display: flex;
    background-color: #E9E9EE;
    position: relative;
    justify-content: space-between;
    align-items: center;
    color: #555555;
    font-size: 17px;
    font-family: 'Roobert';
    font-style: normal;
    font-weight: 400;
}

.brand-title {
    font-size: 1.5rem;
    margin: .5rem;
}

.navbar-links {
    height: 100%;
}

.navbar-links ul {
    display: flex;
    margin: 0;
    padding: 0;
}

.navbar-links li {
    list-style: none;
}

.navbar-links li a {
    display: block;
    text-decoration: none;
    color: #555555;
    padding: 1rem;
}

.navbar-links li a:hover {
    color: #00296C;
    transition: 0.3s;
}

/**
    кнопка гамбургер меню
 */

.toggle-button {
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    margin-top: 10px;
    height: 21px;
}

/**
    отдельные линии кнопки
 */
.toggle-button .bar {
    height: 2px;
    width: 100%;
    background-color: #555555;
    border-radius: 10px;
}

.navbar-links button {
    width: 188px;
    height: 50px;
    background-color: #00296C;
    border: none;
    color: #ffffff;
    font-family: 'Roobert';
    font-style: normal;
    font-weight: 400;
    margin-left: 20px;
}


.navbar-links button:hover {
    background-color: #00183E;
    transition: 1s;
}


/**
    для устройств с размером экрана меньше 800px
    отображаем гамбургер меню
 */


@media screen and (max-width: 800px)

{
    .navbar {
        padding: 1 .1rem;
        width: auto;
        border-radius: 5px;
        flex-direction: column;
        align-items: flex-start;
    }

    .toggle-button {
        display: flex;
    }

    .navbar-links {
        display: none;
        width: 100%;
    }

    .navbar-links ul {
        width: 100%;
        flex-direction: column;
    }

    .navbar-links ul li {
        text-align: center;
    }

    .navbar-links ul li a {
        padding: .5rem 1rem;
    }

    .navbar-links.active {
        display: flex;
    }
    .navbar-links button {
       margin-left: auto;
       margin-right: auto;
       margin-top: 20px;
    }
}

  .footer-menu {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .footer-menu li {
    margin-right: 10px;
  }

  .footer-menu a {
   color: #F5F6FA;
   text-decoration: none;
   font-family: 'Roobert';
   font-style: normal;
   font-weight: 400;
   font-size: 17px;
  }

  .footer-menu a:hover {
    color: #00296C;
    transition: 0.3s;
   }

   .feedback-form {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: center;
}
.feedback-form__field {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}
.feedback-form__label {
    font-family: 'Roobert';
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    font-style: normal;
    color: #323236;
    padding-bottom: 8px;
}
.feedback-form__input {
    width: 625px;
    border: 1px solid #D2D2D8;  
    padding: 8px 10px; 
}


.message_form {
  width: 625px;
  border: 1px solid #D2D2D8;  
  padding: 8px 10px;
}

.feedback-form__button {
    background: #00296C;
    color: #fff; 
    font-style: normal;
    font-weight: 300;
    font-size: 17px;
    line-height: 130%;
    font-family: 'Roobert';
    margin-top: 20px;
    width: 625px;
    height: 50px;
    padding: 10px 20px; 
    border: none; 
    cursor: pointer; 
}


.feedback-form__button:hover {
    background-color: #00183E;
    transition: 0.8s;
}

.background-left {
    float: right;
    margin-top: 80px;
}


.title_contact {
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    font-family: 'Roobert';
}


@media (max-width: 768px) {
    .feedback-form {
        width: 100%; 
        padding: 10 20px;
        height: 100%; 
        box-sizing: border-box; 
        text-align: center; 
    }

    .message_form {
        width: 100%;
        margin-top: 5px; 
        padding: 10px 8;
      }

      .background-left {
        display: none;
      }
      
    .feedback-form__field {
        width: 100%; 
        font-size: 14px;
        margin-top: 15px; 
        text-align: left; 
    }
    .feedback-form__input { 
        width: 100%; 
        margin-top: 5px; 
        padding: 10px 8; 
    }
     .feedback-form__button { 
         width: 100%; 
         margin-top: 15px;  
     }
}   
 

   @media screen and (max-width: 800px)
{
    .container-fluid {
     width: auto;
     height: 500px !important;  
    }
    .footer-menu {
        margin-top: 20px;
    }

    .contact-footer {
        margin-top: 20px;
    }
}


.main_page {
    width: auto;
    background-color: #E9E9EE;
}

.title_page {
    font-style: normal;
    font-weight: 400;
    margin-top: 70px;
    font-size: 96px;
    font-family: 'Roobert';
    color: #323236;
}

.title_scroll {
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    font-family: 'Roobert';
    color: #8E8F96;
    transform: rotate(-90deg);
    text-transform: uppercase;
    margin-right: auto;
}

.img_page_mobile {
    display: none;
} 

@media screen and (max-width: 800px)
{
    .page_hr {
     display: none;  
    }

    .title_page {
        font-size: 50px;
    }

    .img_page img {
      display: none;
    }

    .img_page_mobile {
        display: block;
        margin-top: 50px;
    }
}

